---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-cppcoreguidelines-avoid-magic-numbers,-llvm-*,-hicpp-*,-readability-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none


